# Environments and sensitive files
.env
*.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
ENV/
env/
.pytest_cache/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# Ignore intermediate build files but allow the final web build folder
/frontend/build/*
!/frontend/build/web/
*.ipr
*.iws
*.iml
.idea/
.vscode/

# System files
Thumbs.db
Desktop.ini
.DS_Store
